Create DataFrame
• A pandas DataFrame can be created using various inputs like −
• Lists
• Dictionary
• Series
• Numpy ndarrays
• Another DataFrame
• External input iles like CSV, JSON, HTML, Excel sheet, and more

In [39]:
import pandas as pd

data = {
    "calories": [420,380,390],
    "duration": [50,40,45]
}
#load data into a Dataframe object:
df = pd.DataFrame(data)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

Create an Empty 
DataFrame

• A basic DataFrame, 
which can be created is 
an Empty Dataframe.

In [40]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [41]:
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [42]:
data = [['Alex',10],['Bob',12],['clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print(df)

     Name  Age
0    Alex   10
1     Bob   12
2  clarke   13

In [47]:
data= [['Alex',30],['Ranjan',80],['Kunal',70]]
dfe = pd.DataFrame(data,columns=["Name","Age"])
print(dfe)

     Name  Age
0    Alex   30
1  Ranjan   80
2   Kunal   70

Named 
Indexes
• With the index argument, 
you can name your own 
indexes.

In [4]:
import pandas as pd
data = {
    "calories": [420,380,390],
    "duration": [50,40,45]
}
df = pd.DataFrame(data,index=["day1",'day2','day3'])
print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

Create a 
DataFrame
from Python 
dictionary

In [ ]:
import pandas as pd
data = {'Name' :['Tom','Jack','Steve','Ricky'],
        'Age' :[28,34,12,18]}
df = pd.DataFrame(data,index=['rank1','rank2','rank3','rank4'])

print(df)

        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   12
rank4  Ricky   18

DataFrame 
from List of 
Dicts

In [ ]:
import pandas as pd

data = [{'a':1,'b':2},{'a':5,'b':10,'c':20}] #Note − Observe, NaN (Not a Number) is appended in missing areas.
df = pd.DataFrame(data)

print(df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

Load Files Into a DataFrame
• If your data sets are stored in a file, Pandas can load them into a
DataFrame.
• If you have a large DataFrame with many rows, Pandas will only
return the first 5 rows, and the last 5 rows: