Why Use Pandas?

• Pandas allows us to analyze big data and make conclusions
based on statistical theories.

• Pandas can clean messy data sets and make them readable and
relevant.

• Relevant data is very important in data science.

• Pandas is well-suited for working with tabular data, such as
spreadsheets or SQL tables.

Create DataFrame
• A pandas DataFrame can be created using various inputs like −
• Lists
• Dictionaryl
• Series
• Numpy ndarrays
• Another DataFrame
• External input iles like CSV, JSON, HTML, Excel sheet, and more

In [39]:
import pandas as pd

data = {
    "calories": [420,380,390],
    "duration": [50,40,45]
}
#load data into a Dataframe object:
df = pd.DataFrame(data)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

Create an Empty 
DataFrame

• A basic DataFrame, 
which can be created is 
an Empty Dataframe.

In [40]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [41]:
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [42]:
data = [['Alex',10],['Bob',12],['clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print(df)

     Name  Age
0    Alex   10
1     Bob   12
2  clarke   13

In [47]:
data= [['Alex',30],['Ranjan',80],['Kunal',70]]
dfe = pd.DataFrame(data,columns=["Name","Age"])
print(dfe)

     Name  Age
0    Alex   30
1  Ranjan   80
2   Kunal   70

Named 
Indexes
• With the index argument, 
you can name your own 
indexes.

In [4]:
import pandas as pd
data = {
    "calories": [420,380,390],
    "duration": [50,40,45]
}
df = pd.DataFrame(data,index=["day1",'day2','day3'])
print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

Create a 
DataFrame
from Python 
dictionary

In [ ]:
import pandas as pd
data = {'Name' :['Tom','Jack','Steve','Ricky'],
        'Age' :[28,34,12,18]}
df = pd.DataFrame(data,index=['rank1','rank2','rank3','rank4'])

print(df)

        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   12
rank4  Ricky   18

DataFrame 
from List of 
Dicts

In [ ]:
import pandas as pd

data = [{'a':1,'b':2},{'a':5,'b':10,'c':20}] #Note − Observe, NaN (Not a Number) is appended in missing areas.
df = pd.DataFrame(data)

print(df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

Load Files Into a DataFrame
• If your data sets are stored in a file, Pandas can load them into a
DataFrame.
• If you have a large DataFrame with many rows, Pandas will only
return the first 5 rows, and the last 5 rows:

In [3]:
import pandas as pd

df = pd.read_csv('data (1).csv')
print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [4]:
print(df.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [9]:
print(df.info())
print(df.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None
Index(['Duration', 'Pulse', 'Maxpulse', 'Calories'], dtype='object')

In [18]:
df = pd.read_csv('data (1).csv')
df['Calories'].replace(282.4,1.0,inplace=True)

print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175       1.0
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

C:\Users\pawan\AppData\Local\Temp\ipykernel_10284\2580783282.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Calories'].replace(282.4,1.0,inplace=True)

In [ ]:
import pandas as pd

try:
    # Read the CSV file into a DataFrame
    df = pd.read_csv('data (1).csv')
    
    # Convert the 'Calories' column to Int64, handling errors
    if 'Calories' in df.columns:
        df['Calories'] = pd.to_numeric(df['Calories'], errors='coerce').astype('Int64')
        print(df['Calories'])
    else:
        print("The 'Calories' column is not found in the file.")
        
except FileNotFoundError:
    print("The file 'data (1).csv' was not found. Please check the path.")
except Exception as e:
    print(f"An error occurred: {e}")

An error occurred: cannot safely cast non-equivalent object to int64

Sample Questions


• Implement a Python script that utilizes the pandas library to read
data from a Comma Separated Values (CSV) file and display its
contents.


• Given a pandas DataFrame comprising columns 'A', 'B', and 'C'
with respective values [10, 20, 30], [40, 50, 60], and [70, 80, 90],
develop a Python code snippet to calculate the sum of the values
in column 'B'

In [ ]:
#Q.1-----------------?
import pandas as pd

df = pd.read_csv('data (1).csv')

print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [ ]:
#Q.2---------------?

import pandas as pd

data = {
    'A':[10,20,30],
    'B':[40,50,60],
    'C':[70,80,90]
}


df = pd.DataFrame(data)

sum_B = df['B'].sum()
print(sum_B)

150